@keyframes fall {
  from {
    top: -100%;
  }
  to {
    top: 100%;
  }
}

.fallCard {
  width: 50px;
  height: 60px;
  position: absolute;
  border-radius: 6px;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}